
            @using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="/assets/fontawesome-5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/toastify-5.7.1/toastify.min.css">
    <link rel="stylesheet" href="/common/client/css/common.min.css?v=bYkrL8op8G0ONwSEDATrkfYD666YKTHoJL0Fw6n1xd0">
</head>     
<body>
	<nav class="navbar navbar-expand-lg psc-navbar sticky-md-top shadow-sm">
		<div class="container" bis_skin_checked="1">
			<a class="navbar-brand" href="#">
				<img class="img-fluid" src="/assets/img/08560315102021logo_header.png" alt="logo PSC">
			</a>
			<button id="icon-menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
			</button>

			<div class="collapse navbar-collapse pt-4 pt-md-0" id="navbarSupportedContent" bis_skin_checked="1">
				<ul class="col-12 col-xl-9 navbar-nav ms-auto mb-2 mb-lg-0 justify-content-between align-items-center flex-sm-row">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">
							Trang chủ
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" href="/introduction">
							Giới thiệu
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " aria-current="page" href="/product">
							Sản phẩm
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link btn btn-outline-primary px-4 py-3 rounded" aria-current="page" href="/contact">
							Liên hệ chúng tôi
							<span class="material-icons ps-2"> arrow_forward </span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <div class="page" bis_skin_checked="1">
        <div class="page-body" bis_skin_checked="1">
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HHn_FcSnStOphoLF8267N20Hj97xi6lNB7Ci_hriBeUZjMTJI_bANaVkisc2hBdISF4XsdfbJ9SAxmvdzqyIp9v5Ysz9lDo780ENg4lPRpilce1Np3vlDYwiGtdcGDQ6x71jYCndE9SacTBe35bJNc">

            <div class="contact" bis_skin_checked="1">
                <div class="container pt-4 pt-lg-5" bis_skin_checked="1">
                    <h1 class="psc-fw-600 display-5 text-capitalize mb-4 mb-lg-5 text-center psc-text-primary">
                        Liên hệ chúng tôi
                    </h1>
                    <div class="contact-info mb-lg-3" bis_skin_checked="1">
                        <div class="contact-info-top row" bis_skin_checked="1">
                            <div class="contact-info-top-item col-lg-5 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                    <div class="contact-info-top-item-logo flex-shrink-0 rounded-circle p-2 p-lg-3 border border-primary" bis_skin_checked="1">
                                        <span class="material-icons fs-3"> place </span>
                                    </div>
                                    <span class="contact-info-top-item__txt flex-grow-1 ms-3">
                                        5 Hoa Sữa, Phường 7, Quận Phú Nhuận.
                                    </span>
                                </div>
                            </div>
                            <div class="contact-info-top-item col-lg-3 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                    <div class="contact-info-top-item-logo flex-shrink-0 rounded-circle p-2 p-lg-3 border border-primary" bis_skin_checked="1">
                                        <span class="material-icons fs-3"> phone </span>
                                    </div>
                                    <span class="contact-info-top-item__txt flex-grow-1 ms-3">03030303030</span>
                                </div>
                            </div>
                            <div class="contact-info-top-item col-lg-4 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                    <div class="contact-info-top-item-logo flex-shrink-0 rounded-circle p-2 p-lg-3 border border-primary" bis_skin_checked="1">
                                        <span class="material-icons fs-3"> email </span>
                                    </div>
                                    <span class="contact-info-top-item__txt flex-grow-1 ms-3">
                                        pscsisteam@gmail.com
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" bis_skin_checked="1">
                        <div class="col-lg-5 py-3 py-lg-5" bis_skin_checked="1">
                            <form id="frmRegister" method="post" class="contact-form" action="/lien-he-chung-toi?handler=save" novalidate="novalidate">
                                <h2 class="contact-form__title fs-5 text-capitalize mb-3 mb-lg-4 lh-base">
                                    Để lại thông tin, chúng tôi sẽ liên hệ với bạn sớm nhất có thể.
                                </h2>
                                <div class="row" bis_skin_checked="1">
                                    <div class="col-md-6" bis_skin_checked="1">
                                        <div class="form-group mb-3" bis_skin_checked="1">
                                            <label>Họ tên</label>
                                            <input type="text" class="form-control form-control--custom-border" data-validation-required-message="Vui lòng nhập trường này" id="Regist_CustomerName" name="Regist.CustomerName" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3" bis_skin_checked="1">
                                        <div class="form-group" bis_skin_checked="1">
                                            <label>Số điện thoại</label>
                                            <input type="text" class="form-control form-control--custom-border" data-validation-required-message="Vui lòng nhập trường này" data-validation-phone-number-message="Vui lòng nhập số điện thoại của bạn" id="Regist_Phone" name="Regist.Phone" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" bis_skin_checked="1">
                                    <div class="col-md-12 mb-3" bis_skin_checked="1">
                                        <div class="form-group" bis_skin_checked="1">
                                            <label>Email</label>
                                            <input type="text" class="form-control form-control--custom-border" data-validation-required-message="Vui lòng nhập trường này" data-validation-email-message="Vui lòng nhập email của bạn" id="Regist_Email" name="Regist.Email" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-button pt-4" bis_skin_checked="1">
                                    <button type="submit" class="contact-form-button__btn btn btn-primary py-3 px-5 rounded text-uppercase psc-fw-500 w-100">
                                        Tôi muốn tư vấn
                                    </button>
                                </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HHn_FcSnStOphoLF8267N20Hj97xi6lNB7Ci_hriBeUZjMTJI_bANaVkisc2hBdISF4XsdfbJ9SAxmvdzqyIp9v5Ysz9lDo780ENg4lPRpilce1Np3vlDYwiGtdcGDQ6x71jYCndE9SacTBe35bJNc">
                            </form>
                        </div>
                        <div class="col-lg-7 text-center" bis_skin_checked="1">
                            <img src="/assets/img/contact/15153714102021banner_contact.png" alt="bg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--FOOTER-->
        <footer class="footer">
            <div class="container pt-4" bis_skin_checked="1">
                <div class="row" bis_skin_checked="1">
                    <div class="col-sm-4 col-lg-2" bis_skin_checked="1">
                        <div class=" container-item d-flex justify-content-center justify-content-md-start" bis_skin_checked="1">
                            <img src="/assets/img/logo-white.svg" class="img-fluid" alt="logo PSC white">
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-3" bis_skin_checked="1">
                        <div class="container-item" bis_skin_checked="1">
                            <h5 class="container-item__title fs-6">
                                Cài đặt SIS Mobile
                            </h5>

                            <div class="d-flex" bis_skin_checked="1">
                                <img class="img-fluid" src="/assets/img/QR.png" alt="QR">
                                <div class="ms-2 d-flex flex-column" bis_skin_checked="1">
                                    <a href="#" title="" class="mb-auto">
                                        <img class="img-fluid" src="/assets/img/Google-Play.svg" alt="Google Play">
                                    </a>
                                    <a href="#" title="">
                                        <img class="img-fluid" src="/assets/img/App-Store.svg" alt="Apple store">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-2" bis_skin_checked="1">
                        <div class="container-item" bis_skin_checked="1">
                            <h5 class="container-item__title fs-6">Thông tin</h5>
                            <div class="container-item-box" bis_skin_checked="1">
                                <ul class="list-unstyled">
                                    <li class="mb-1"><a href="#" title="">Trang chủ</a></li>
                                    <li class="mb-1">
                                        <a href="#" title="">Về chúng tôi</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-2" bis_skin_checked="1">
                        <div class="container-item" bis_skin_checked="1">
                            <h5 class="container-item__title fs-6">Sản phẩm</h5>
                            <div class="container-item-box" bis_skin_checked="1">
                                <ul class="list-unstyled">
                                    <li class="mb-1">
                                        <a href="#" title="">SIS System</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" title="">Portal &amp; App</a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#" title="">Moodle &amp; Canvas</a>
                                    </li>

                                    <li class="mb-1">
                                        <a href="#" title="">Dashboard &amp; báo cáo</a>
                                    </li>

                                    <li class="mb-1">
                                        <a href="#" title="">Xếp thời khóa biểu</a>
                                    </li>

                                    <li class="mb-1">
                                        <a href="#" title="">Phần mềm học phí</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5 col-lg-3" bis_skin_checked="1">
                        <div class="container-item" bis_skin_checked="1">
                            <h5 class="container-item__title fs-6">Liên hệ</h5>
                            <div class="container-item-box" bis_skin_checked="1">
                                <ul class="list-unstyled">
                                    <li class="mb-1 d-flex">
                                        <span class="material-icons me-2"> place</span><span>5 Hoa Sữa, Phường 7, Quận Phú Nhuận.</span>
                                    </li>
                                    <li class="mb-1 d-flex">
                                        <span class="material-icons me-2"> call </span><span>03030303030</span>
                                    </li>
                                    <li class="mb-1 d-flex">
                                        <span class="material-icons me-2">
                                            mail_outline
                                        </span>

                                        <a href="pscsisteam@gmail.com" title="">pscsisteam@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3" bis_skin_checked="1">
                Copyright © 2021. All rights reserved.
            </div>
        </footer>

        <!--END FOOTER-->
    </div>
</body>