
            @using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "layout.cshtml";
}
<body>
    <div class="page" bis_skin_checked="1">
        <div class="page-body" bis_skin_checked="1">
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HHn_FcSnStOphoLF8267N20Hj97xi6lNB7Ci_hriBeUZjMTJI_bANaVkisc2hBdISF4XsdfbJ9SAxmvdzqyIp9v5Ysz9lDo780ENg4lPRpilce1Np3vlDYwiGtdcGDQ6x71jYCndE9SacTBe35bJNc">
            <div class="contact" bis_skin_checked="1">
                <div class="container pt-4 pt-lg-5" bis_skin_checked="1">
                    <h1 class="psc-fw-600 display-5 text-capitalize mb-4 mb-lg-5 text-center psc-text-primary">
                        Liên hệ chúng tôi
                    </h1>
                    <div class="contact-info mb-lg-3" bis_skin_checked="1">
                        <div class="contact-info-top row" bis_skin_checked="1">
                            <div class="contact-info-top-item col-lg-5 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                    <div class="contact-info-top-item-logo flex-shrink-0 rounded-circle p-2 p-lg-3 border border-primary" bis_skin_checked="1">
                                        <span class="material-icons fs-3"> place </span>
                                    </div>
                                    <span class="contact-info-top-item__txt flex-grow-1 ms-3">
                                        5 Hoa Sữa, Phường 7, Quận Phú Nhuận.
                                    </span>
                                </div>
                            </div>
                            <div class="contact-info-top-item col-lg-3 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                    <div class="contact-info-top-item-logo flex-shrink-0 rounded-circle p-2 p-lg-3 border border-primary" bis_skin_checked="1">
                                        <span class="material-icons fs-3"> phone </span>
                                    </div>
                                    <span class="contact-info-top-item__txt flex-grow-1 ms-3">03030303030</span>
                                </div>
                            </div>
                            <div class="contact-info-top-item col-lg-4 mb-3" bis_skin_checked="1">
                                <div class="d-flex align-items-center" bis_skin_checked="1">
                                    <div class="contact-info-top-item-logo flex-shrink-0 rounded-circle p-2 p-lg-3 border border-primary" bis_skin_checked="1">
                                        <span class="material-icons fs-3"> email </span>
                                    </div>
                                    <span class="contact-info-top-item__txt flex-grow-1 ms-3">
                                        pscsisteam@gmail.com
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" bis_skin_checked="1">
                        <div class="col-lg-5 py-3 py-lg-5" bis_skin_checked="1">
                            <form id="frmRegister" method="post" class="contact-form" action="/lien-he-chung-toi?handler=save" novalidate="novalidate">
                                <h2 class="contact-form__title fs-5 text-capitalize mb-3 mb-lg-4 lh-base">
                                    Để lại thông tin, chúng tôi sẽ liên hệ với bạn sớm nhất có thể.
                                </h2>
                                <div class="row" bis_skin_checked="1">
                                    <div class="col-md-6" bis_skin_checked="1">
                                        <div class="form-group mb-3" bis_skin_checked="1">
                                            <label>Họ tên</label>
                                            <input type="text" class="form-control form-control--custom-border" data-validation-required-message="Vui lòng nhập trường này" id="Regist_CustomerName" name="Regist.CustomerName" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3" bis_skin_checked="1">
                                        <div class="form-group" bis_skin_checked="1">
                                            <label>Số điện thoại</label>
                                            <input type="text" class="form-control form-control--custom-border" data-validation-required-message="Vui lòng nhập trường này" data-validation-phone-number-message="Vui lòng nhập số điện thoại của bạn" id="Regist_Phone" name="Regist.Phone" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" bis_skin_checked="1">
                                    <div class="col-md-12 mb-3" bis_skin_checked="1">
                                        <div class="form-group" bis_skin_checked="1">
                                            <label>Email</label>
                                            <input type="text" class="form-control form-control--custom-border" data-validation-required-message="Vui lòng nhập trường này" data-validation-email-message="Vui lòng nhập email của bạn" id="Regist_Email" name="Regist.Email" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-button pt-4" bis_skin_checked="1">
                                    <button type="submit" class="contact-form-button__btn btn btn-primary py-3 px-5 rounded text-uppercase psc-fw-500 w-100">
                                        Tôi muốn tư vấn
                                    </button>
                                </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HHn_FcSnStOphoLF8267N20Hj97xi6lNB7Ci_hriBeUZjMTJI_bANaVkisc2hBdISF4XsdfbJ9SAxmvdzqyIp9v5Ysz9lDo780ENg4lPRpilce1Np3vlDYwiGtdcGDQ6x71jYCndE9SacTBe35bJNc">
                            </form>
                        </div>
                        <div class="col-lg-7 text-center" bis_skin_checked="1">
                            <img src="/assets/img/contact/15153714102021banner_contact.png" alt="bg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>