@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/css/blockgrid.css")" />
<body>
    <div class="page" bis_skin_checked="1">
        <div class="page-body" bis_skin_checked="1">
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HHn_FcSnStOphoLF8267N1DxbSSIPgEkQ5V9XivE2rZfvbMipizQb8uwgk3tWjhrxav3XmCaQmD1_7gAFxBv93gMO5bcp3ma84pqQs1p0RMMPM5WMDxtWPkx-G-MQjJ-NzNmzy6sUsUrs-C5cMubeY">


            <!--HOME TOP-->
            <section class="home-top pt-4">
                <div class="container" bis_skin_checked="1">
                    @await Html.GetBlockGridHtmlAsync(Model.Content)
                </div>
            </section>
            <!--END HOME TOP-->
            <!--HOME NAV-->
            <div class="card-group pt-4" bis_skin_checked="1">
                <div class="container" bis_skin_checked="1">
                    <div class="row" bis_skin_checked="1">
                        <div class="col-md-4 pb-4 d-flex" bis_skin_checked="1">
                            <div class="card py-4 px-2 p-lg-4 text-center align-self-stretch" bis_skin_checked="1">
                                <div class="psc-card-icon" bis_skin_checked="1">
                                    <img src="assets/img/icons/icon-edit.svg" alt="Tùy chỉnh linh hoạt">
                                </div>
                                <div class="card-body" bis_skin_checked="1">
                                    <h5 class="card-title mb-3">Tùy chỉnh linh hoạt</h5>
                                    <p class="card-text">
                                        Đáp ứng nhu cầu của nhà trường một cách nhanh chóng, có khả năng được tích hợp với mọi hệ thống có sẵn.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-4 d-flex" bis_skin_checked="1">
                            <div class="card py-4 px-2 p-lg-4 text-center align-self-stretch" bis_skin_checked="1">
                                <div class="psc-card-icon" bis_skin_checked="1">
                                    <img src="assets/img/icons/icon-cursor.svg" alt="Thiết kế đơn giản">
                                </div>
                                <div class="card-body" bis_skin_checked="1">
                                    <h5 class="card-title mb-3">Thiết kế đơn giản</h5>
                                    <p class="card-text">
                                        Giao diện được thiết kế đơn giản thân thiện, đảm bảo cho những người không rành về công nghệ cũng có thể sử dụng được.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pb-4 d-flex" bis_skin_checked="1">
                            <div class="card py-4 px-2 p-lg-4 text-center align-self-stretch" bis_skin_checked="1">
                                <div class="psc-card-icon" bis_skin_checked="1">
                                    <img src="assets/img/icons/icon-time.svg" alt="Tiết kiệm thời gian">
                                </div>
                                <div class="card-body" bis_skin_checked="1">
                                    <h5 class="card-title mb-3">Tiết kiệm thời gian</h5>
                                    <p class="card-text">
                                        Dữ liệu tập trung, hệ thống báo cáo đầy đủ, rõ ràng, giúp tiết kiệm thời gian của nhà trường và giáo viên.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END HOME NAV-->
            <!--SIS SYSTEM-->
            <div class="sis-system pt-2" bis_skin_checked="1">
                <div class="container" bis_skin_checked="1">
                    @await Html.GetBlockGridHtmlAsync(Model.Sis_content)
                </div>
            </div>
            <!--END SIS SYSTEM-->
            <!-- PORTAL -->
            <div class="portal psc-bg-light pt-4 mb-md-4" bis_skin_checked="1">
                <div class="container" bis_skin_checked="1">
                    @await Html.GetBlockGridHtmlAsync(Model.Portal)
                </div>
            </div>
            <!-- END PORTAL-->
            <!--MOODLE & CANVAS-->
            <div class="moodle pt-2 mb-4" bis_skin_checked="1">
                <div class="container" bis_skin_checked="1">
                @await Html.GetBlockGridHtmlAsync(Model.Moodle)
                </div> 
            </div>
            <!--END MOODLE & CANVAS-->
            <!-- SIS DASHBOARD-->
            <div class="dashboard psc-bg-gray pt-4" bis_skin_checked="1">
                <div class="container" bis_skin_checked="1">
                 @await Html.GetBlockGridHtmlAsync(Model.Dashboard)  
                </div>
            </div>
            <!-- END SIS DASHBOARD-->
            <!--CUSTOMERS-->
            <div class="customers pt-4" bis_skin_checked="1">
                <div class="container text-center" bis_skin_checked="1">
                    <div class="row" bis_skin_checked="1">
                        <div class="col-lg-11 mx-auto" bis_skin_checked="1">
                            <h2 class="customers__title fs-1 psc-fw-600 mb-4 mb-md-5 text-capitalize">
                                Được tin tưởng bởi hơn 300 Trường TH- THCS - THPT tại Việt Nam và Campuchia
                            </h2>
                        </div>
                    </div>

                    <div class="customers-box" id="customreBox" bis_skin_checked="1">

                        <div class="row" bis_skin_checked="1">
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/1558341210202115513212102021TRUONG_TAY_NINH.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG TH-THCS-THPT IGC TÂY NINH">TRƯỜNG TH-THCS-THPT IGC TÂY NINH</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/15584612102021TRUONG_THAI_BÌNH_DƯƠNG.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG TH-THCS-THPT THÁI BÌNH DƯƠNG">TRƯỜNG TH-THCS-THPT THÁI BÌNH DƯƠNG</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/15585812102021TRUONG_TRINH_HOAI_DUC.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG TH-THCS-THPT TRỊNH HOÀI ĐỨC">TRƯỜNG TH-THCS-THPT TRỊNH HOÀI ĐỨC</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/15591012102021TRUONG_QUYẾT_THẮNG.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG TH-THCS-THPT LÊ QUÝ ĐÔN - QUYẾT THẮNG">TRƯỜNG TH-THCS-THPT LÊ QUÝ ĐÔN - QUYẾT THẮNG</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/15592412102021TRUONG_TAN_PHU.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG TH-THCS-THPT TÂN PHÚ">TRƯỜNG TH-THCS-THPT TÂN PHÚ</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/15593512102021TRUONG_LE_QUI_DON_TAN_MAI.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG THPT LÊ QUÝ ĐÔN - TÂN MAI">TRƯỜNG THPT LÊ QUÝ ĐÔN - TÂN MAI</a>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" bis_skin_checked="1">
                                <div class="customers-box-item mb-4" bis_skin_checked="1">
                                    <div class="overflow-hidden" bis_skin_checked="1">
                                        <img src="/assets/img/home/16002612102021TRUONG_YERSIN_ĐÀ_LẠT.png" alt="invalid img" class="img-fluid zoom">
                                    </div>
                                    <h4 class="customers-box-item__title fs-6 text-uppercase psc-fw-600 pt-4 ">
                                        <a href="#" title="TRƯỜNG THPT YERSIN ĐÀ LẠT">TRƯỜNG THPT YERSIN ĐÀ LẠT</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END CUSTOMERS-->
            <!-- SIGNUP FOR TRIAL-->
            <div class="trial py-5" bis_skin_checked="1">
                <div class="container text-center" bis_skin_checked="1">
                    <h3 class="trial__title text-uppercase fs-3 fw-bold mb-4">
                        Đăng ký dùng thử
                    </h3>
                    <div class="row" bis_skin_checked="1">
                        <div class="col-md-9 col-lg-6 col-xl-5 mx-auto" bis_skin_checked="1">
                            <p class="trial__description mb-4">
                                Chúng tôi cung cấp miễn phí bản dùng thử trong vòng <br> 7 ngày. Đăng ký để trải nghiệm ngay hôm nay.
                            </p>
                        </div>
                    </div>
                    <div class="row" bis_skin_checked="1">
                        <div class="col-md-7 mx-auto" bis_skin_checked="1">
                            <div class="input-group" bis_skin_checked="1">
                                <input type="text" class="form-control py-3" placeholder="Nhập email của bạn" aria-label="Nhập email của bạn" aria-describedby="button-addon2" data-validation-required-message="Vui lòng nhập trường này" data-validation-email-message="Vui lòng nhập email của bạn">
                                <button type="submit" id="btnSave" class="btn btn-primary col-sm-3 col-md-2">
                                    <i class="fa fa-spin fa-spinner margin-r-5" style="display: none"></i>
                                    Đăng ký
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SIGNUP FOR TRIAL-->
        </div>
    </div>
</body>